@keyframes BOUNCE_ {
    30% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate(-50%) translate3d(0, -30px, 0);
    }
    50%{
        transform: translate(-50%) translate3d(0, -5px, 0);
    }
    60% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: translate(-50%) translate3d(0, -10px, 0);
    }
    90% {
        transform: translate(-50%) translate3d(0, -5px, 0);
    }
}

.BOUNCE_ {
    animation-name: BOUNCE_;
    transform-origin: center bottom;
}

@keyframes flash {
    0%{
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
}

.flash {
    animation-name: flash
}

@keyframes pulse {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scale3d(1.075, 1.075, 1.075);
    }
    100% {
        transform: scaleX(1);
    }
}

.pulse {
    animation-name: pulse
}

@keyframes rubberBand {
    0% {
        transform: scaleX(1);
    }
    30% {
        transform: scale3d(1.25, .75, 1);
    }
    40% {
        transform: scale3d(.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, .85, 1);
    }
    65% {
        transform: scale3d(.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, .95, 1);
    }
    100% {
        transform: scaleX(1);
    }
}

.rubberBand {
    animation-name: rubberBand
}

@keyframes shake {
    0%{
        transform: translateZ(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-7px, 0, 0);
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate3d(7px, 0, 0);
    }
}

.shake {
    animation-name: shake
}

@keyframes swing {
    20% {
        transform: rotate(25deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(15deg);
    }
    80% {
        transform: rotate(-15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.swing {
    transform-origin: top center;
    animation-name: swing
}

@keyframes tada {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    10%,
    20% {
        transform: scale3d(.6, .6, .6) rotate(-5deg);
        opacity: 0.1;
    }
    30%,
    50%,
    70%,
    90% {
        transform: scale3d(1.2, 1.2, 1.2) rotate(5deg);
        opacity: 1;
    }
    40%,
    60%,
    80% {
        transform: scale3d(1.2, 1.2, 1.2) rotate(-5deg);
    }
    100% {
        transform: scaleX(1);
    }
}

.tada {
    animation-name: tada
}

@keyframes wobble {
    0% {
        transform: none;
    }
    15% {
        transform: translate3d(-35%, 0, 0) rotate(-9deg);
    }
    30% {
        transform: translate3d(30%, 0, 0) rotate(7deg);
    }
    45% {
        transform: translate3d(-25%, 0, 0) rotate(-7deg);
    }
    60% {
        transform: translate3d(20%, 0, 0) rotate(6deg);
    }
    75% {
        transform: translate3d(-15%, 0, 0) rotate(-4deg);
    }
    100% {
        transform: none;
    }
}

.wobble {
    animation-name: wobble
}

@keyframes jello {
    0%{
        transform: none;
    }
    20%{
        transform: skewX(-12deg) skewY(-12deg);
    }
    30% {
        transform: skewX(6deg) skewY(6deg);
    }
    40% {
        transform: skewX(-3deg) skewY(-3deg);
    }
    50% {
        transform: skewX(1deg) skewY(1deg);
    }
    60% {
        transform: skewX(-.70000deg) skewY(-.70000deg);
    }
    70% {
        transform: skewX(.300000deg) skewY(.300000deg);
    }
    80% {
        transform: skewX(.500000deg) skewY(.500000deg);
    }
    100%{
        transform: skewX(-.1000000deg) skewY(-.1000000deg);
    }
}

.jello {
    animation-name: jello;
    transform-origin: center
}

@keyframes BOUNCE_I {
    80%{
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1);
    }
    20% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    40% {
        transform: scale3d(.1, .1, .1);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.06, 1.06, 1.06);
    }
    80% {
        transform: scale3d(.92, .92, .92);
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

.BOUNCE_I {
    animation-name: BOUNCE_I
}

@keyframes BOUNCE_ID {
    90%{
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -1000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 55px, 0);
    }
    75% {
        transform: translate3d(0, -30px, 0);
    }
    90% {
        transform: translate3d(0, 55px, 0);
    }
    100% {
        transform: none;
    }
}

.BOUNCE_ID {
    animation-name: BOUNCE_ID
}

@keyframes BOUNCE_IL {
    90%{
        animation-timing-function: cubic-bezier(.200, .60, .300, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(-1000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(35px, 0, 0);
    }
    75% {
        transform: translate3d(-20px, 0, 0);
    }
    90% {
        transform: translate3d(15px, 0, 0);
    }
    100% {
        transform: none;
    }
}

.BOUNCE_IL {
    animation-name: BOUNCE_IL
}

@keyframes BOUNCE_IR {
    90%{
        animation-timing-function: cubic-bezier(.200, .60, .300, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(1000px, 0, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(-35px, 0, 0);
    }
    75% {
        transform: translate3d(20px, 0, 0);
    }
    90% {
        transform: translate3d(-15px, 0, 0);
    }
    100% {
        transform: none;
    }
}

.BOUNCE_IR {
    animation-name: BOUNCE_IR
}

@keyframes BOUNCE_IU {
    90%{
        animation-timing-function: cubic-bezier(.200, .60, .300, 1);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, 1000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, -30px, 0);
    }
    75% {
        transform: translate3d(0, 20px, 0);
    }
    90% {
        transform: translate3d(0, -15px, 0);
    }
    100% {
        transform: translateZ(0);
    }
}

.BOUNCE_IU {
    animation-name: BOUNCE_IU
}

@keyframes BOUNCE_O {
    20% {
        transform: scale3d(.7, .7, .7);
    }
    48%,
    50% {
        opacity: 1;
        transform: scale3d(1.2, 1.2, 1.2);
    }
    100% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
}

.BOUNCE_O {
    animation-name: BOUNCE_O
}

@keyframes BOUNCE_OD {
    20% {
        transform: translate3d(0, 20px, 0);
    }
    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, -30px, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 1000px, 0);
    }
}

.BOUNCE_OD {
    animation-name: BOUNCE_OD
}

@keyframes BOUNCE_OL {
    20% {
        opacity: 1;
        transform: translate3d(40px, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(-4000px, 0, 0);
    }
}

.BOUNCE_OL {
    animation-name: BOUNCE_OL
}

@keyframes BOUNCE_OR {
    20% {
        opacity: 1;
        transform: translate3d(-40px, 0, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(4000px, 0, 0);
    }
}

.BOUNCE_OR {
    animation-name: BOUNCE_OR
}

@keyframes BOUNCE_OU {
    20% {
        transform: translate3d(0, -40px, 0);
    }
    40%,
    45% {
        opacity: 1;
        transform: translate3d(0, 80px, 0);
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -4000px, 0);
    }
}

.BOUNCE_OU {
    animation-name: BOUNCE_OU
}

@keyframes FADE_I {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.FADE_I {
    animation-name: FADE_I
}

@keyframes FADE_ID {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_ID {
    animation-name: FADE_ID
}

@keyframes FADE_ID_BIG {
    0% {
        opacity: 0;
        transform: translate3d(0, -4000px, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_ID_BIG {
    animation-name: FADE_ID_BIG
}

@keyframes FADE_IL {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_IL {
    animation-name: FADE_IL
}

@keyframes FADE_IL_BIG {
    0% {
        opacity: 0;
        transform: translate3d(-4000px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_IL_BIG {
    animation-name: FADE_IL_BIG
}

@keyframes FADE_IR {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_IR {
    animation-name: FADE_IR
}

@keyframes FADE_IR_BIG {
    0% {
        opacity: 0;
        transform: translate3d(4000px, 0, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_IR_BIG {
    animation-name: FADE_IR_BIG
}

@keyframes FADE_IU {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_IU {
    animation-name: FADE_IU
}

@keyframes FADE_IU_BIG {
    0% {
        opacity: 0;
        transform: translate3d(0, 4000px, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.FADE_IU_BIG {
    animation-name: FADE_IU_BIG
}

@keyframes FADE_O {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.FADE_O {
    animation-name: FADE_O
}

@keyframes FADE_OD {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
}

.FADE_OD {
    animation-name: FADE_OD
}

@keyframes FADE_OD_BIG {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, 4000px, 0);
    }
}

.FADE_OD_BIG {
    animation-name: FADE_OD_BIG
}

@keyframes FADE_OL {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
}

.FADE_OL {
    animation-name: FADE_OL
}

@keyframes FADE_OL_BIG {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(-4000px, 0, 0);
    }
}

.FADE_OL_BIG {
    animation-name: FADE_OL_BIG
}

@keyframes FADE_OR {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
}

.FADE_OR {
    animation-name: FADE_OR
}

@keyframes FADE_OR_BIG {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translate3d(4000px, 0, 0);
    }
}

.FADE_OR_BIG {
    animation-name: FADE_OR_BIG
}

@keyframes FADE_OU {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
}

.FADE_OU {
    animation-name: FADE_OU
}

@keyframes FADE_OU_BIG {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(0, -4000px, 0);
    }
}

.FADE_OU_BIG {
    animation-name: FADE_OU_BIG
}

@keyframes FLIP_ {
    0% {
        transform: perspective(300px) rotateY(-1turn);
        animation-timing-function: ease-out;
    }
    40% {
        transform: perspective(300px) translateZ(100px) rotateY(-190deg);
        animation-timing-function: ease-out;
    }
    50% {
        transform: perspective(300px) translateZ(100px) rotateY(-170deg);
        animation-timing-function: ease-in;
    }
    80% {
        transform: perspective(300px) scale3d(.9, .9, .9);
        animation-timing-function: ease-in;
    }
    100% {
        transform: perspective(300px);
        animation-timing-function: ease-in;
    }
}

.animated.FLIP_ {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    animation-name: FLIP_
}

@keyframes FLIP_IX {
    0% {
        transform: perspective(300px) rotateX(90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(300px) rotateX(-20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(300px) rotateX(20deg);
        opacity: 1;
    }
    80% {
        transform: perspective(300px) rotateX(-5deg);
    }
    100% {
        transform: perspective(300px);
    }
}

.FLIP_IX {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    animation-name: FLIP_IX
}

@keyframes FLIP_IY {
    0% {
        transform: perspective(300px) rotateY(90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        transform: perspective(300px) rotateY(-20deg);
        animation-timing-function: ease-in;
    }
    60% {
        transform: perspective(300px) rotateY(20deg);
        opacity: 1;
    }
    80% {
        transform: perspective(300px) rotateY(-5deg);
    }
    100% {
        transform: perspective(300px);
    }
}

.FLIP_IY {
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    animation-name: FLIP_IY
}

@keyframes lightSpeedI {
    0% {
        transform: translate3d(100%, 0, 0) skewX(-50deg);
        opacity: 0;
    }
    60% {
        transform: skewX(30deg);
        opacity: 1;
    }
    80% {
        transform: skewX(-15deg);
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.lightSpeedI {
    animation-name: lightSpeedI;
    animation-timing-function: ease-out
}

@keyframes lightSpeedO {
    0% {
        opacity: 1;
    }
    100% {
        transform: translate3d(100%, 0, 0) skewX(50deg);
        opacity: 0;
    }
}

.lightSpeedO {
    animation-name: lightSpeedO;
    animation-timing-function: ease-in
}

@keyframes ROTATE_I {
    0% {
        transform-origin: center;
        transform: rotate(-250deg);
        opacity: 0;
    }
    100% {
        transform-origin: center;
        transform: none;
        opacity: 1;
    }
}

.ROTATE_I {
    animation-name: ROTATE_I
}

@keyframes ROTATE_IDL {
    0% {
        transform-origin: left bottom;
        transform: rotate(-65deg);
        opacity: 0;
    }
    100% {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

.ROTATE_IDL {
    animation-name: ROTATE_IDL
}

@keyframes ROTATE_IDR {
    0% {
        transform-origin: right bottom;
        transform: rotate(65deg);
        opacity: 0;
    }
    100% {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.ROTATE_IDR {
    animation-name: ROTATE_IDR
}

@keyframes ROTATE_IUL {
    0% {
        transform-origin: left bottom;
        transform: rotate(65deg);
        opacity: 0;
    }
    100% {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

.ROTATE_IUL {
    animation-name: ROTATE_IUL
}

@keyframes ROTATE_IUR {
    0% {
        transform-origin: right bottom;
        transform: rotate(-65deg);
        opacity: 0;
    }
    100% {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

.ROTATE_IUR {
    animation-name: ROTATE_IUR
}

@keyframes ROTATE_O {
    0% {
        transform-origin: center;
        opacity: 1;
    }
    100% {
        transform-origin: center;
        transform: rotate(100deg);
        opacity: 0;
    }
}

/*entered in db till rorate_iur , continue from rotate o tommorow*/

.ROTATE_O {
    animation-name: ROTATE_O
}

@keyframes ROTATE_ODL {
    0% {
        transform-origin: left bottom;
        opacity: 1;
    }
    100% {
        transform-origin: left bottom;
        transform: rotate(65deg);
        opacity: 0;
    }
}

.ROTATE_ODL {
    animation-name: ROTATE_ODL
}

@keyframes ROTATE_ODR {
    0% {
        transform-origin: right bottom;
        opacity: 1;
    }
    100% {
        transform-origin: right bottom;
        transform: rotate(-65deg);
        opacity: 0;
    }
}

.ROTATE_ODR {
    animation-name: ROTATE_ODR
}

@keyframes ROTATE_OUL {
    0% {
        transform-origin: left bottom;
        opacity: 1;
    }
    100% {
        transform-origin: left bottom;
        transform: rotate(-120deg);
        opacity: 0;
    }
}

.ROTATE_OUL {
    animation-name: ROTATE_OUL
}

@keyframes ROTATE_OUR {
    0% {
        transform-origin: right bottom;
        opacity: 1;
    }
    100% {
        transform-origin: right bottom;
        transform: rotate(120deg);
        opacity: 0;
    }
}

.ROTATE_OUR {
    animation-name: ROTATE_OUR
}

@keyframes hinge {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    20%,
    60% {
        transform: rotate(70deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    40%,
    80% {
        transform: rotate(50deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 500px, 0);
        opacity: 0;
    }
}

.hinge {
    animation-name: hinge
}

@keyframes jackITheBox {
    0% {
        opacity: 0;
        transform: scale(.3) rotate(60deg);
        transform-origin: center bottom;
    }
    50% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(6deg);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.jackITheBox {
    animation-name: jackITheBox
}

@keyframes ROLL_I {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate(-160deg);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.ROLL_I {
    animation-name: ROLL_I
}

@keyframes ROLL_O {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate(160deg);
    }
}

.ROLL_O {
    animation-name: ROLL_O
}

@keyframes ZOOM_I {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1);
    }
    50% {
        opacity: 1;
    }
}

.ZOOM_I {
    animation-name: ZOOM_I
}

@keyframes ZOOM_ID {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -1500px, 0);
        animation-timing-function: cubic-bezier(.50, .050, .670, .20);
    }
    60% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(0, 120px, 0);
        animation-timing-function: cubic-bezier(.170, .880, .30, 1);
    }
}

.ZOOM_ID {
    animation-name: ZOOM_ID
}

@keyframes ZOOM_IL {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(-2500px, 0, 0);
        animation-timing-function: cubic-bezier(.50, .050, .670, .20);
    }
    60% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(20px, 0, 0);
        animation-timing-function: cubic-bezier(.170, .880, .30, 1);
    }
}

.ZOOM_IL {
    animation-name: ZOOM_IL
}

@keyframes ZOOM_IR {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(2500px, 0, 0);
        animation-timing-function: cubic-bezier(.50, .050, .670, .20);
    }
    60% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(-20px, 0, 0);
        animation-timing-function: cubic-bezier(.170, .880, .30, 1);
    }
}

.ZOOM_IR {
    animation-name: ZOOM_IR
}

@keyframes ZOOM_IU {
    0% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 1500px, 0);
        animation-timing-function: cubic-bezier(.50, .050, .670, .20);
    }
    60% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(.170, .880, .30, 1);
    }
}

.ZOOM_IU {
    animation-name: ZOOM_IU
}

@keyframes ZOOM_O {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0;
        transform: scale3d(.1, .1, .1);
    }
    100% {
        opacity: 0
    }
}

.ZOOM_O {
    animation-name: ZOOM_O
}

@keyframes ZOOM_OD {
    40% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(0, -80px, 0);
        animation-timing-function: cubic-bezier(.50, .050, .670, .20);
    }
    100% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(.175, .885, .32, 1);
    }
}

.ZOOM_OD {
    animation-name: ZOOM_OD
}

@keyframes ZOOM_OL {
    40% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(62px, 0, 0);
    }
    100% {
        opacity: 0;
        transform: scale(.1) translate3d(-4000px, 0, 0);
        transform-origin: left center;
    }
}

.ZOOM_OL {
    animation-name: ZOOM_OL
}

@keyframes ZOOM_OR {
    40% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(-62px, 0, 0);
    }
    100% {
        opacity: 0;
        transform: scale(.1) translate3d(4000px, 0, 0);
        transform-origin: right center;
    }
}

.ZOOM_OR {
    animation-name: ZOOM_OR
}

@keyframes ZOOM_OU {
    40% {
        opacity: 1;
        transform: scale3d(.470, .470, .470) translate3d(0, 62px, 0);
        animation-timing-function: cubic-bezier(.50, .050, .670, .20);
    }
    100% {
        opacity: 0;
        transform: scale3d(.1, .1, .1) translate3d(0, -4000px, 0);
        transform-origin: center bottom;
        animation-timing-function: cubic-bezier(.170, .880, .30, 1);
    }
}

.ZOOM_OU {
    animation-name: ZOOM_OU
}

@keyframes SLIDE_ID {
    0% {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}

.SLIDE_ID {
    animation-name: SLIDE_ID
}

@keyframes SLIDE_IL {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}

.SLIDE_IL {
    animation-name: SLIDE_IL
}

@keyframes SLIDE_IR {
    0% {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}

.SLIDE_IR {
    animation-name: SLIDE_IR
}

@keyframes SLIDE_IU {
    0% {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    100% {
        transform: translateZ(0);
    }
}

.SLIDE_IU {
    animation-name: SLIDE_IU
}

@keyframes SLIDE_OD {
    0% {
        transform: translateZ(0);
    }
    100% {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}

.SLIDE_OD {
    animation-name: SLIDE_OD
}

@keyframes SLIDE_OL {
    0% {
        transform: translateZ(0);
    }
    100% {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

.SLIDE_OL {
    animation-name: SLIDE_OL
}

@keyframes SLIDE_OR {
    0% {
        transform: translateZ(0);
    }
    100% {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

.SLIDE_OR {
    animation-name: SLIDE_OR
}

@keyframes SLIDE_OU {
    0% {
        transform: translateZ(0);
    }
    100% {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}

.SLIDE_OU {
    animation-name: SLIDE_OU
}