@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../webfonts/ProximaNovaBold.otf') format('opentype');
}



.pageheading{
      color: black;
      font-family: ProximaNovaBold;
}

#loginform{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 500px;
  transition: border 1s ease-in-out;
  outline: none;
  background-color: #1a1a1a;
  /*animation: form 25s ease-in-out infinite;
  border: 2px solid black;*/
}

#loginform p{
  font-family: ProximaNovaBold;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-size: 45px;
  font-style: normal;
  color: white;
  display: block;
  text-align: center;
}

#loginform input{
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 15px;
  border: 1px solid grey;
  padding: 15px;
  margin-top: 20px;
  font-size: 15px;
  font-family: sans-serif;
  outline: none;
  border-radius: 5px;
}

#loginform button{
  width: 200px;
  height: 45px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: none;
  outline: none;
  font-size: 20px;
  font-family: ProximaNovaBold;
  display: block;
  margin-top: 20px;
  background-color: white;
  cursor: pointer;
  transition: opacity 0.4s, border-radius 0.4s ease-in-out;
  /*animation: button 25s ease-in-out infinite;*/
}

#loginform button{

background: -moz-linear-gradient(-45deg, #f1e767 0%, #feb645 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f1e767 0%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f1e767 0%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

#loginform button:hover{
  opacity: 0.5;
  border-radius: 50px;
}

#loginform a{
  color: grey;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 13px;
  font-family: monospace;
  margin-top: 10px;
  cursor: pointer;
  text-decoration-line: underline;
}

#loginform a:hover{
  color: white;
}
