@font-face {
  font-family: 'ProximaNovaBold';
  src: url('./webfonts/ProximaNovaBold.otf') format('opentype');
}

body{
    margin: 0;
    padding: 0;
    height: 1500px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
}

html{
    height:100%;
}

body::-webkit-scrollbar-thumb{
   background-color: #000000;
}

body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar{
    width: 4px;
    background-color: #F5F5F5;
}


#loginform, #signupform{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	height: 500px;
	transition: border 1s ease-in-out;
	outline: none;
	background-color: #1a1a1a;
	/*animation: form 25s ease-in-out infinite;
	border: 2px solid black;*/
}

#signupform{
	display: none;
}

#loginform p, #signupform p{
	font-family: ProximaNovaBold;
	font-weight: bold;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	font-size: 45px;
	font-style: normal;
	color: white;
	display: block;
	text-align: center;
}

#loginform input , #signupform input{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 50%;
	height: 15px;
	border: 1px solid grey;
	padding: 15px;
	margin-top: 20px;
	font-size: 15px;
	font-family: sans-serif;
	outline: none;
	border-radius: 5px;
}

#loginform button, #signupform button{
	width: 200px;
	height: 45px;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	border: none;
	outline: none;
	font-size: 20px;
	font-family: ProximaNovaBold;
	display: block;
	margin-top: 20px;
	background-color: white;
	cursor: pointer;
	transition: opacity 0.4s, border-radius 0.4s ease-in-out;
	/*animation: button 25s ease-in-out infinite;*/
}

#loginform button{
	background: -moz-linear-gradient(top, #ffd65e 1%, #febf04 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffd65e 1%,#febf04 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom right, #ffd65e 1%,#febf04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#signupform button{
	background: -moz-linear-gradient(top, #87e0fd 7%, #53cbf1 46%, #05abe0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #87e0fd 7%,#53cbf1 46%,#05abe0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom right, #87e0fd 7%,#53cbf1 46%,#05abe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


#loginform button:hover, #signupform button:hover{
	opacity: 0.5;
	border-radius: 50px;
}

#loginform a, #signupform a{
	color: grey;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	font-size: 13px;
	font-family: monospace;
	margin-top: 10px;
	cursor: pointer;
	text-decoration-line: underline;
}

#loginform a:hover, #signupform a:hover{
	color: white;
}


#sffb{
	top: 110px;
	color: #0f7ce2;
}

#sfg{
	top: 220px;
	color: #d6262f;
}

.verticalline{
	position: relative;
	display: inline-block;
	width: 1px;
	height: 200px;
	background-color: white;
	outline: none;
	border: none;
}


#signupform .verticalline{
	right: 150px;
	top: 154px;
	position: absolute;
}

#signupform i{
	font-size: 80px;
	right: 30px;
	display: inline-block;
	position: absolute;
	padding: 50px;
	cursor: pointer;
	width: 40px;
	height: 40px;
	text-align: center;
}

notification{
  top: 75px;
}
