/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 300px) and (max-device-width : 480px) {

.barbutton{
    width: 100px;
}

#panel{
	width: 90%;
    height: 2000px;
    margin-top: 130vh;
    max-height: 1830px;
    overflow: hidden !important;
}

#previewbox{
	width: 100%;
	height: 275px;
	margin-left: 0px;
    margin-top: -20px;
    margin-bottom: 120px;
	border-bottom: 1px solid black;
}

#rotatebox{
	width: 100%;
    height: 250px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: -90px;
    border-bottom: 1px solid black;
}

#stepsdiv{
	width: 100%;
    height: 175px;
    border: 1px solid black;
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 0px;
    border-bottom: 1px solid black;
}

#stepsdiv button{
	width: 80%;
	height: 20%;
}

#stepsdiv button:first-child{
	margin-top: 30px;
}

#skewbox, #scalebox{
	width: 100%;
    height: 250px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

#rotatebox div, #skewbox div, #scalebox div {
    width: 100%;
    min-height: fit-content;
    max-height: fit-content;
    display: block;
    position: relative;
    text-align: center;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
}

.textchangediv, .sourcechangediv{
    width: 100%;
    height: 30px;
}

#basicdiv{
	width: 100%;
    height: 350px;
    overflow: scroll;
    float: left;
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

#basicdiv banner{
	width: 925px;
	max-width: none;
}

#bggradientdiv{
    width: 100%;
    overflow: scroll;
    height: 200px;
    margin-left: 0px;
    margin-top: -50px;
}

#bggradientdiv banner{
    width: 350px;
    max-width: none;
}

#letterspacediv, #fontcombinationsdiv, #googlefontssdiv{
    margin-top: 40px;
    height: 200px;
    z-index: 0;
    width: 100%;
    margin-left: 0px;
}

#outlinediv{
    margin-left: 0px;
    width: 100%;
}

#outlinediv combobox selected a{
    width: 200px;
}

#outlinediv combobox options ul li a{
    width: 200px;
}

#fontcombinationsdiv combobox options ul li a, #googlefontssdiv combobox options ul li a{
    font-size: 9px;
}

#outlinediv .colorpicker{
    transform: translate(-50%);
    left: 50%;
    top: -50px;
}

#advance_div1{
    margin-left: 0px;
    margin-top: 340px;
    margin-bottom: 90px;
    width: 100%;
    overflow: scroll;
}

#advance_div1 div:nth-child(1) , #advance_div1 div:nth-child(2) ,
#advance_div1 div:nth-child(3){
    left: 0px;
    margin-left: 0px;
    margin-top: 30px;
    transform: translate(-25%);
    left: 25%;
}

#advance_div1 div:nth-child(4){
    top: 30px;
    margin-bottom: 40px;
    margin-right: 40px;
}

.slider{
	width: 150px;
}

.input{
	width: 80%;
    top: -5px;
}

.textchangediv li::after, .sourcechangediv li::after {
    content: "";
    position: absolute;
    right: 7px;
    top: -1px;
    width: 14px;
    height: 5px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(-45deg);
    cursor: pointer;

}

.shapechangediv ul{
	height: 100px;
    overflow: scroll;
}

.shapechangediv{
	height: 100px;
}

#notes{
	font-size: 17px;
}

#settingsdiv{
    top: 300px;
    margin-left: 0px;
    width: 100%;
}

#rmadiv{
    margin-top: 345px;
    height: 220px;
    margin-left: 0px;
    width: 100%;
}

#upgp{
    width: 75%;
}


}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1136px){

#searchjadgets{
    width: 80%;
}

#panel{
	width: 95%;
	height: 95%;
	min-height: fit-content;
	max-height: 980px;
    overflow: hidden !important;
}

#previewbox{
	width: 60%;
	height: 175px;
}

#rotatebox{
	width: 200px;
    height: 250px;
    margin-top: -55px;
    margin-left: 40px;
}

#stepsdiv{
	width: 200px;
    height: 175px;
    margin-top: -55px;
    margin-left: 40px;
    right: 32px;
    position: absolute;
    margin-top: 0px;
    border: 1px solid black;
}

#stepsdiv button{
	width: 80%;
	height: 20%;
}

#stepsdiv button:first-child{
	margin-top: 30px;
}

#skewbox, #scalebox{
	width: 200px;
    height: 250px;
    margin-top: -55px;
    margin-left: 27px;
}

#rotatebox div, #skewbox div, #scalebox div {
    width: 80%;
    min-height: fit-content;
    max-height: fit-content;
    display: block;
    position: relative;
    text-align: center;
    top: 35px;
    left: 50%;
    transform: translate(-50%);
}

.textchangediv, .sourcechangediv{
    width: 100%;
    height: 30px;
}

#basicdiv{
	width: 90%;
    height: 350px;
    overflow: scroll;
    float: left;
    top: 0px;
    margin-top: 120px;
    margin-left: 40px;
}

#basicdiv banner{
	width: 925px;
	max-width: none;
}

.slider{
	width: 150px;
}

.input{
	width: 80%;
    top: -5px;
}

.textchangediv li::after, .sourcechangediv li::after {
    content: "";
    position: absolute;
    right: 7px;
    top: -1px;
    width: 14px;
    height: 5px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(-45deg);
    cursor: pointer;

}

.shapechangediv ul{
	height: 100px;
    overflow: scroll;
}

.shapechangediv{
	height: 100px;
}

#notes{
	font-size: 23px;
}

#letterspacediv{
    float: right;
    top: 0px;
    position: absolute;
    right: 40px;
    width: 180px;
    height: 175px;
}

#letterspacediv combobox selected a{
    width: 130px;
}

#outlinediv{
    margin-top: 10px;
    margin-left: 40px;
    height: 75px;
    width: 190px;
    overflow: scroll;
}

#outlinediv .colorpicker {
    left: 10px;
    top: 70px;
}

#fontcombinationsdiv, #googlefontssdiv{
    float: right;
    margin-right: 40px;
    width: 190px;
    height: 125px;
    overflow: scroll;
}

#fontcombinationsdiv combobox options ul li a, #googlefontssdiv combobox options ul li a{
    width: 130px;
}

#fontcombinationsdiv combobox options ul, #googlefontssdiv combobox options ul{
    min-width: 0;
}

#fontcombinationsdiv combobox selected a, #googlefontssdiv combobox selected a{
    width: 130px;
}

#fontcombinationsdiv banner h5, #googlefontssdiv banner h5{
    font-size: 16px;
}


#advance_div1{
    margin-top: 250px;
    margin-left: 40px;
    width: 610px;
    overflow: scroll;
}

#advance_div1 div:nth-child(2) {
    left: 10px;
}

#advance_div1 div:nth-child(1) {
    left: -5px;
}

#advance_div1 div:nth-child(3) {
    left: -5px;
    margin-top: 20px;
}

#advance_div1 div:nth-child(4) {
    top: -150px;
    margin-left: -5px;
    margin-top: 180px;
}

#rmadiv{
    margin-top: 260px;
    height: 350px;
    width: 265px;
}

#settingsdiv{
    top: 220px;
    margin-left: 40px;
}

#animationSliderBox{
    width: 650px;
    margin-left: 40px;
}

#upgp{
    width: 75%;
}

}


/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) and (max-width : 1700px) {

#basicdiv{
    width: 50%;
    overflow: scroll;
}

#basicdiv banner{
    max-width: none;
    width: 940px;
}

#rotatebox, #scalebox, #stepsdiv{
    display: block;
    width: 21%;
}

#skewbox{
    margin-left: 30px;
    width: 21%;
}

.slider{
    width: 50%;
}

#advance_div1{
    width: 50%;
    overflow: scroll;
}

#advance_div1 div:nth-child(1), #advance_div1 div:nth-child(2){
    transform: translate(-50%);
    left: 50%;
    margin-bottom: 30px;
    width: 80%;
}

#advance_div1 div:nth-child(3){
    transform: translate(-50%);
    left: 50%;
    margin-bottom: 190px;
    width: 80%;
}

#bggradientdiv, #letterspacediv, #fontcombinationsdiv{
    width: 21%;
    overflow: scroll;
}

#bggradientdiv banner h5{
    font-size: 14px;
}

#outlinediv{
    width: 15%;
    overflow: scroll;
}

#c1, #c2{
    margin-left: -105px;
    width: 120px;
}

/*color pickers for background gradient div*/
#bggc1cp, #bggc2cp{
    margin-left: -60px;
}

#outlinediv combobox selected a, #bggradientdiv combobox selected a, #letterspacediv combobox selected a,
#fontcombinationsdiv combobox selected a{
    width: 80%;
}

#rmadiv{
    height: 200px;
}

#settingsdiv{
    overflow: scroll;
}

#upgp{
    width: 50%;
}

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

}
