#animationTimeline::-webkit-scrollbar{
    height: 2px;
    background-color: #F5F5F5;
}

#animationTimeline::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#animationTimeline::-webkit-scrollbar-thumb{
    background-color: #000000;
}

.newanimation:hover .alabel_new {
    opacity: 0;
}

#animationTimeline{
    position: relative;
    width: 100%;
    background: white;
    height: 125px;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: auto;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    border: 1px solid #d7d7d7;
}

#animationTimeline:hover .aTbutton{
    opacity: 1;
    display: flex;
}

#atButtons{
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 999999999;
}

#atButtons .aTbutton{
    position: relative;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    cursor: pointer;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.animationSlideButton{
    position: absolute;
    left: unset;
    top: 0px;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    cursor: pointer;
    z-index: 3;
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 999999;
}

.selected-slide{
    border: 1px solid green;
}

.selected-slide:hover{
    border: 1px solid green;
}

#newAnimationButton{
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 50px;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 0 3px grey;
    border: none;
    outline: none;
    background: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

#newAnimationButton:hover{
    opacity: 0.5;
}

.alabel_new{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgb(0, 102, 255);
    width: 100%;
    color: white;
    font-family: monospace;
    font-size: 16px;
    text-align: left;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

animationSlide .animationSlideButton:nth-child(3){
    background-color: darkred;
    right: 5px;
}

animationSlide .animationSlideButton:nth-child(4){
    background-color: #a8d65e;
    right: 25px;
}

animationSlide .animationSlideButton:nth-child(5){
    background-color: #1a1a1a;
    right: 45px;
}

animationSlide .animationSlideNumber{
    font-family: cursive;
    left: 5px;
    position: absolute;
    font-size: 10px;
    color: white;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 20px;
    z-index: 9999999;
}

animationSlide .animationSlidePercentage{
    font-family: cursive;
    left: 5px;
    position: absolute;
    font-size: 10px;
    color: white;
    padding-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 10px;
    z-index: 9999999;
    bottom: 0px;
}

animationSlide{
    display: flex;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid #d7d7d7;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-left: 10px;
    transition: border 0.3s ease-in-out;
}

animationSlide:hover{
    border: 1px solid orange;
}

animationSlide:hover .animationSlideButton{
    opacity: 1;
    display: flex;
}

animationSlide:last-child{
    margin-right: 10px;
}
